.lot_list:not(:last-child){
	border-bottom: .09rem solid #ededed;
}

.list .li font{
	font-size: .34rem;
}
.lot_det{
	/*height: 1.2rem;*/
	font-size: .24rem;
	color: #9e9d9d;
	position: relative;
}
.lot_det .check{
	height: .3rem;
	line-height: .3rem;
	position: absolute;
	top:.35rem;
	right: 0;
	color:#5a5a5a;
	padding-right: .18rem;
}
.lot_det .check span{
	width: .18rem;
	height: .3rem;
	background:url('../img/go.png') no-repeat;
	background-size: 100% 100%;
	position: absolute;
}
.lot_det div{
	margin-bottom: .08rem;
}
.lot_det div font{
	margin-left: .2rem;
}
.lot_det .status,.lot_det .name{
	padding-top:.1rem;
}
.lot_det .time{
	/*margin-bottom: .21rem;*/
}
.lot_det .status font{
	color:#ff248b;
}
.lot_list .result{
	height: 1.4rem;
	background-color: #f7f7f7;
}
.lot_list .result div{
	padding-left: .31rem;
}
.tan_num .bq{
	height: .8rem;
	line-height: .8rem;
	color: #5a5a5a;
	font-size: .34rem;
	border-bottom: .02rem solid #d6d6d6;
}
.tan_num .bq span{
	color: #ff248b;
}
.tan_num .numList{
	min-height: 3.39rem;
	color: #9e9d9d;
	font-size: .24rem;
}
.tan_num .numList span{
	display: inline-block;
	margin-top: .1rem;
}